@use "src/index.scss" as *;

.sideBar {
  width: 70%;
  height: 100vh;
  background-color: $light-primary;
  top: 0;
  position: fixed !important;
  z-index: 2;
  transition: transform 0.3s ease-in-out;
  @include tablet {
    width: 40%;
  }
  @include laptop {
    height: 100%;
    width: 18%;
    border-radius: 0;
  }

  .brand {
    height: 11vh;
    border-bottom: 2px solid #8282821f;
    img{
      margin: 1rem 0 0 2rem;
      width: 50%;
      @include laptop {
        margin:0;
        width: 70%;
      }
    }
  }
  nav {
    ul {
      height: 60vh;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        width: 4px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #8282821f;
        border-radius: 20px;
      }
      li {
        margin-top: 0.5rem;
        padding: 0.3rem 0 0.3rem 0;
        transition: background-color 0.4s ease-in-out;
        pointer-events: none;
        @include laptop {
          font-size: 1.3rem;
        }
        .navLink {
          width: 100%;
          display: flex;
          align-items: center;
          padding: 0.3rem 0 0.3rem 2rem;
          gap: 0.7rem;
          pointer-events: visible;
        }
      }
    }
    .footBtns {
      padding: 0 0 0 2rem;
    }
  }
}

.activeLink {
  text-decoration: none;
  color: #000;
  font-weight: bolder;
  transition: border 0.3s ease-in-out;
  border-right: 7px solid $primary-color;
}
